AZURE_STORAGE_CONNECTION_STRING=""

AZURE_OPENAI_API_KEY=""
AZURE_OPENAI_ENDPOINT=""
AZURE_OPENAI_API_VERSION=""
AZURE_OPENAI_CHAT_DEPLOYMENT=""

AZURE_OPENAI_EMBEDDING_DEPLOYMENT=""
AZURE_OPENAI_EMBEDDING_ENDPOINT=""
AZURE_OPENAI_EMBEDDING_API_KEY=""

AZURE_SEARCH_ENDPOINT=""
AZURE_SEARCH_API_KEY=""
AZURE_SEARCH_INDEX_NAME=""

AZURE_VI_NAME=""
AZURE_VI_LOCATION=""
AZURE_VI_ACCOUNT_ID=""
AZURE_SUBSCRIPTION_ID=""
AZURE_RESOURCE_GROUP=""

APPLICATIONINSIGHTS_CONNECTION_STRING=""

LANGCHAIN_TRACING_V2=
LANGCHAIN_ENDPOINT=""
LANGCHAIN_API_KEY=""
LANGCHAIN_PROJECT=""